# Dependencias
node_modules/
.env
.cache/
dist/
build/
.vscode/

# Archivos de Vercel/Netlify
.vercel/
.netlify/

# Logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos grandes cacheados
*.pack
*.zip
*.tar.gz
