
/node_modules/


/build/
/dist/


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


.supabase/
supabase/migrations/


npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


/coverage/


.DS_Store
Thumbs.db


.vscode/
.idea/


/Thumbs.db
ehthumbs.db


/.turbo/
/.cache/
